@model MeetupCreateViewModel
@using WhenAndWhere.DAL.Enums

@using (Html.BeginForm()) {
    <span>Meetup Name: </span>
    @Html.TextBoxFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)
    <br/>
    <span>Meetup Type: </span>
    @Html.DropDownListFor(m => m.Type,
        new SelectList(Enum.GetValues(typeof(MeetupType))),
        "Select meetup type")
    @Html.ValidationMessageFor(m => m.Type)
    <br/>
    <span>Options from: </span>
    <input type="datetime-local" id="OptionsFrom" name="OptionsFrom">
    @Html.ValidationMessageFor(m => m.OptionsFrom)
    <br/>
    <span>Options to: </span>
    <input type="datetime-local" id="OptionsTo" name="OptionsTo">
    @Html.ValidationMessageFor(m => m.OptionsTo)
    <br/>
    <span>Logo: </span>
    <input type="file" id="Logo" name="Logo">
    @Html.ValidationMessageFor(m => m.Logo)
    <br/>
    <button type="submit" class="btn btn-primary">Create</button>
}